<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}"
>

<!--/*@thymesVar id="rentrecords" type="java.util.List<ru.ekorzunov.urfu_bach_prog_3_coursework.entity.RentRecord>"*/-->
<!--/*@thymesVar id="#fields" type="org.thymeleaf.spring6.expression.Fields"*/-->

<head>
    <title>List RentRecords</title>
</head>

<body>
<div class="container" layout:fragment="content">
    <a th:href="@{./add}" class="btn btn-primary">Add RentRecord</a>
    <table class="table table-bordered table-striped mt-3" id="rentrecordTable">
        <thead>
        <tr>
            <th>User</th>
            <th>Auto</th>
            <th>from</th>
            <th>to</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rentrecord: ${rentrecords}">
            <td><a th:text="${rentrecord.getUser()}" th:href="@{./{rentrecordId}(rentrecordId = ${rentrecord.getId()})}"></a></td>
            <td th:text="${rentrecord.getAuto()}"></td>
            <td th:text="${rentrecord.getTimestampStart()}"></td>
            <td th:text="${rentrecord.getTimestampEnd()}"></td>
            <td>
                <a th:href="@{./update(rentrecordId=${rentrecord.id})}" class="btn btn-info">Update</a>
                <a th:href="@{./delete(rentrecordId=${rentrecord.id})}" class="btn btn-danger ml-2">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#rentrecordTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>
</body>
</html>
